body {
	background-color: #FAEBD7;
	color: #696969;
}

.main-style {
    	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: black;
}

.one-more-style {
	color: red;
	background:  rgb(244, 164, 96);
}

A {
	align=justify;
	color: red;
	background: rgb(255, 215, 0);
}

img {
	border: 6px solif #FF3131;
	box-shadow: 20px 20px 20px #8B0000;
}